.div-inputs-signup {
    display: flex;
    flex-direction: column;
    color: var(--cor-black-900);
    min-width: 40vw;
}

.div-inputs-login h1 {
    margin-top: 0.9rem;
    margin-bottom: 4rem;
}

.h1-register {
    font-size: 3.2rem;
    margin: auto;
}


@media (max-width: 950px) {
    .div-inputs-signup {
        min-width: 90vw;
        padding: auto;

    }
}