.div-table {
    min-width: 80vw;
    max-width: 90vw;
    overflow: auto;
}

table {
    width: 100%;
    font-size: 18px;
    min-width: 500px;
}

table tr {
    overflow-wrap: break-word;
    justify-content: space-between;
}

th {
    overflow-wrap: break-word;
    text-align: start;
}

.title {
    width: 100%;
    height: 46px;
    background-color: #F4F0F0;
    font-size: 1.6rem;

}

.row-th-title {
    padding: 0 2rem;
    width: 25%;
    flex-grow: 1;
}

.div-icons-contacts {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.div-icons-contacts button {
    all: unset;
    cursor: pointer;

}

@media(max-width: 950px) {

    .telephone,
    .name {
        min-width: 185px;
    }

}