.container-notfound {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--cor-blue-900)
}

.btn-notfound {
    position: absolute;
    font-size: 1.2rem;
    bottom: 3rem;
    margin: auto;
    background-color: aliceblue;
    padding: 1.5rem 4rem;
    border-radius: 1rem;
}



@media (max-width:950px) {
    .container-notfound {
        align-items: center;

    }

    .notfound-img {
        position: absolute;
        top: 0;
        max-width: 350px;
    }

}